[submodule "thirdparty/ndt_omp"]
	path = thirdparty/ndt_omp
	url = git@github.com:RyuYamamoto/ndt_omp
[submodule "thirdparty/fast_gicp"]
	path = thirdparty/fast_gicp
	url = git@github.com:RyuYamamoto/fast_gicp
[submodule "thirdparty/kiss-icp"]
	path = thirdparty/kiss-icp
	url = git@github.com:PRBonn/kiss-icp.git
